@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=VT323&display=swap');

:root {
	/* Palette */
	--yamber: #ffc10d;
	--yimn-blue: #184e81;
	--picton-blue: #56ace0;
	--ut-orange: #fb8500;
	font-size: 16px;
}

body {
	height: 100vh;
	margin: 0;
}

main {
	align-items: center;
	background-color: var(--picton-blue);
	height: 90vh;
	padding: 1em;
}
