:root {
	/* Palette */
	--yamber: #ffc10d;
	--yimn-blue: #184e81;
	--picton-blue: #56ace0;
	--ut-orange: #fb8500;
}

.custom-navbar {
	background-color: var(--yimn-blue);
	color: white;
	font-family: 'Bungee', cursive;
	height: 4em;
}

.custom-navbar span {
	font-size: 2.25em;
}

.navbar-nav {
	border: none;
	bottom: 0;
	position: absolute;
	right: 1em;
}

.nav-item {
	margin-bottom: 0;
}

.nav-tabs > li > a.active {
	background-color: var(--picton-blue) !important;
	border: 0;
	color: var(--ut-orange) !important;
}

.nav-tabs > li > a.nav-link:visited {
	color: white;
}

.nav-tabs > li > a.nav-link:hover {
	border: none;
	color: var(--yamber);
}
