:root {
	/* Palette */
	--yamber: #ffc10d;
	--yimn-blue: #184e81;
	--picton-blue: #56ace0;
	--ut-orange: #fb8500;
}

.custom-navbar {
	background-color: var(--yimn-blue);
	color: white;
	font-family: 'Bungee', cursive;
	height: 6.125em;
	padding-top: 0.75em;
	position: relative;
	text-align: center;
}

.brand {
	font-size: 2.25em;
	margin-left: 0.25em;
	user-select: none;
}

@media (min-width: 48em) {
	.custom-navbar {
		height: 3.25em;
	}

	.brand {
		float: left;
	}

	.nav-head {
		float: right;
		margin-right: 1em;
	}
}

.nav-link {
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
}

.nav-link.active {
	background-color: var(--picton-blue) !important;
	border: 0;
	color: var(--ut-orange) !important;
}

.nav-link.nav-link:visited {
	color: white;
}

.nav-link.nav-link:hover {
	border: none;
	color: var(--yamber);
}
